@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


#menu-c .mbr-brand__name {
  font-size: 16px;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-b P {
  text-align: left;
}
#msg-box1-r .mbr-header .mbr-header__text {
  color: #ffffff;
}
#msg-box1-r .mbr-article {
  color: #fff;
}
#features1-e .mbr-section__col .mbr-header__text P {
  text-align: left;
  color: #ffffff;
}
#features1-e P {
  text-align: center;
  color: #ffffff;
}
#features1-e .mbr-section-title .mbr-header__text I {
  color: #ffffff;
  font-family: 'PT Serif', serif;
  font-size: 30px;
  text-align: left;
}
#features1-e .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-size: 17px;
  text-align: left;
}
#features1-e .mbr-section-title .mbr-header__text {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#features1-18 P {
  text-align: center;
}
#features1-18 .mbr-section__col .mbr-header__text {
  text-align: left;
}
#form1-17 .mbr-header__text {
  text-align: center;
}



#menu-w .mbr-brand__name {
  font-size: 16px;
}
#menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-x P {
  text-align: left;
  font-size: 17px;
  font-family: 'Droid Sans', sans-serif;
}
#header4-x H1 {
  text-align: center;
}
#header4-x I {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
}
#msg-box1-y .mbr-header .mbr-header__text {
  color: #ffffff;
}
#msg-box1-y .mbr-article {
  color: #fff;
}
#features1-z .mbr-section__col .mbr-header__text P {
  text-align: center;
  color: #ffffff;
}
#features1-z P {
  text-align: center;
  color: #ffffff;
}
#features1-z .mbr-section-title .mbr-header__text I {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: left;
}
#features1-z .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#msg-box2-10 .mbr-header .mbr-header__text {
  color: #252525;
  text-align: center;
}
#msg-box2-10 .mbr-article {
  color: #252525;
}
#pricing-table1-11 H3 {
  color: #ffffff;
}
